@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../styles/ck-content.module.css";

html,
body {
  height: 100vh;
  overflow-y: auto;
}

.ckeditor-container .ck-editor__editable {
  min-height: 400px;
}

.ck-editor__editable li {
  list-style-position: inside;
}

.ck-editor__editable .todo-list {
  margin-left: 20px;
}
